!!! 5
%html
  %head
    %title= <%= @app_name %>
<%- if @turbolinks == "use" -%>
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
<%- else -%>
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
<%- end -%>
    = csrf_meta_tags
  %body
    = yield
