<!DOCTYPE html>
<html>
<head>
  <title><%= @app_name %></title>
  <%= %q!<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %%>! %>
  <%= %q!<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %%>! %>
  <%= %q!<%= csrf_meta_tags %%>! %>
</head>
<body>

<%= %q!<%= yield %%>! %>

</body>
</html>
